<div align="center">
  <h3 mat-dialog-title>Actor Selector</h3>
  <div mat-dialog-content>
    <mat-list *ngFor="let animal of animals">
      <mat-list-item (click)="selectedAnimal = animal">
        {{animal.name}}
      </mat-list-item>
    </mat-list>
    <table>
      <tr>
        <td style="margin-right: 10px">
          <div *ngIf="selectedAnimal !== null">

            <button mat-raised-button (click)="addAnimal()" color="primary">Add</button>
          </div>
        </td>
        <td>
          <button mat-raised-button (click)="close()" color="warn">Close</button>
        </td>
      </tr>
    </table>

  </div>
</div>
