<div align="center">
  <table>
    <tr>
      <td>
        Name: {{owner.name}}
      </td>
    </tr>
    <tr>
      <td>
        mail: {{owner.email}}
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="warn" (click)="delete()">Delete</button>
      </td>
    </tr>
  </table>
  <p>Pets:</p>
  <mat-list *ngFor="let pet of owner.pets">
    <mat-list-item>{{pet.name}} --- {{pet.type}} <button mat-raised-button color="primary"  (click)="detail(pet)">Detail</button> </mat-list-item>
  </mat-list>



  <table>
    <tr>
      <td>
        Breed:{{breed}}
      </td>
      <td>
        Age:{{age}}
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="openDialog()" mat-raised-button color="accent">Animals</button>
      </td>
    </tr>
  </table>
</div>
