<div align="center">
  <br>
  <table style="width: 60%">
    <tr>
      <td width="90%">
        <mat-form-field style="width: 100%">
          <input type="text"
                placeholder="Movie: title..."
                aria-label="Movie: title..."
                matInput #title>
        </mat-form-field>
      </td>
      <td style="padding-left: 10px">
        <button mat-raised-button color="primary" (click)="search(title.value)">Search</button>
      </td>
    </tr>
  </table>
  <mat-list role="list" *ngFor="let movie of movies">
    <mat-divider></mat-divider>
    <mat-list-item style="text-align: center" (click)="detail(movie)" role="listitem">
      {{movie.title}}
    </mat-list-item>
  </mat-list>

</div>
