<div align="center">
  <table>
    <tr>
      <td>
        Title: {{movie.title}}
      </td>
    </tr>
    <tr>
      <td>
        Year: {{movie.year}}
      </td>
    </tr>
  </table>
  <p>Actors:</p>
  <mat-list *ngFor="let actor of movie.actors">
    <mat-list-item>{{actor.name}} --- {{actor.rating}}</mat-list-item>
  </mat-list>
  <table>
    <tr>
      <td>
        <button (click)="openDialog()" mat-raised-button color="warn">Add more acrors</button>
      </td>
      <td>
        <button (click)="back()" mat-raised-button color="primary" style="margin-left: 10px">Back</button>
      </td>
    </tr>
  </table>
</div>
