<div align="center">
  <h3 mat-dialog-title>Actor Selector</h3>
  <div mat-dialog-content>
    <mat-list *ngFor="let actor of actors">
      <mat-list-item (click)="selectedActor = actor">
        {{actor.name}} --- {{actor.rating}}
      </mat-list-item>
    </mat-list>
    <table>
      <tr>
        <td style="margin-right: 10px">
          <div *ngIf="selectedActor !== null">

            <button mat-raised-button (click)="addActor()" color="primary">Add</button>
          </div>
        </td>
        <td>
          <button mat-raised-button (click)="close()" color="warn">Close</button>
        </td>
      </tr>
    </table>

  </div>
</div>
