<div align="center">

  <mat-list role="list" *ngFor="let owner of owners">
    <mat-divider></mat-divider>
    <mat-list-item (click)="detail(owner.id)" style="text-align: center" role="listitem">
      {{owner.name}}
    </mat-list-item>
  </mat-list>

</div>
